/*  your css code here. If applicable */
        body {
            margin: 0;
            background-color: #cdd3ca; /* Similar pale green */
            font-family: 'Verdana', 'Arial', sans-serif;
        }
        .container {
            width: 1100px;
            margin: 0 auto;
            background-color: #d6dad2; /* Slight shade for content */
            padding-bottom: 25px;
            box-sizing: border-box;
        }
        .main-image {
            width: 100%;
            display: block;
            margin-bottom: 10px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
            background: none;
        }
        td, th {
            border: 2px solid #bbb;
            vertical-align: top;
            padding: 16px;
        }
        td.img-col {
            width: 200px;
            background-color: #e3e6e2;
        }
        td.text-col {
            width: 600px;
            background-color: #d6dad2;
            text-align: center;
            font-size: 1.07em;
            color: #20211e;
        }
        .ad-text {
            font-size: 1em;
            text-align: left;
            color: #222;
        }
        .ad-title {
            font-weight: bold;
            color: #2b3e32;
            margin-bottom: 4px;
        }
        .ad-link {
            color: #3b4e40;
            text-decoration: underline;
            font-size: 0.98em;
        }
        .objective {
            text-align: left;
            padding-top: 6px;
            padding-bottom: 6px;
        }
        .objective-title {
            font-weight: bold;
            font-size: 1.18em;
            color: #20211e;
            margin-bottom: 7px;
            text-align: center;
        }
        tr:first-child td.text-col {
            font-weight: bold;
            font-size: 1.12em;
        }
        @media (max-width: 1200px) {
            .container { width: 100%; }
        }